<nav class="navbar navbar-default">
  <nav class="navbar navbar-inverse bg-inverse" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
          aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" [routerLinkActive]="['active']" [routerLink]="['/listevent']">Dashboard</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-left">
          <li>
            <a [routerLinkActive]="['active']" [routerLink]="['/addevent']">Add Event</a>
          </li>
          <li>
            <a [routerLinkActive]="['active']" [routerLink]="['/listevent']">List Event</a>
          </li>
          <li>
            <a [routerLinkActive]="['active']" [routerLink]="['/calendar']">Calendar</a>
          </li>

        </ul>
        <ul class="nav navbar-nav navbar-right">
          <ul class="nav navbar-nav navbar-right">
            <li>
              <a [routerLinkActive]="['active']" [routerLink]="['/']" (click)="logout()">
                <span class="glyphicon glyphicon-log-out"></span> Logout</a>
            </li>

          </ul>
        </ul>
      </div>
    </div>
  </nav>
</nav>
