
<div>
  <div class="text-center">
      <h1>
          <b class="fa fa-calendar">
              <b> ONLINE TIMETABLE </b>
          </b>
      </h1>
      <div class="list-group">
          <a class="list-group-item active">
              <h4>
                  <b>EDIT EVENT</b>
              </h4>
              <p></p>
          </a>
      </div>
  </div>
<div class="container">
<div class='row'>
  <div class='col-md-4'></div>
  <div class='col-md-4'>
    <script src='https://js.stripe.com/v2/' type='text/javascript'></script>
    <form accept-charset="UTF-8" class="require-validation" id="payment-form">
      <div class='form-row'>
        <div class='col-xs-12 form-group card required'>
          <label class='control-label'>Event Name</label>
          <input type="text" name="eventname" id="eventname" [(ngModel)]="newEvent.name" placeholder="EventName" class="form-control" required>
        </div>
      </div>
      <div class='form-row'>
        <div class='col-xs-12 form-group card required'>
          <label class='control-label'>Description</label>
          <input name="description" id="description" [(ngModel)]="newEvent.description" placeholder="Description" class="form-control" required>
        </div>
      </div>
      <div class='form-row'>
        <div class='col-xs-12 form-group card required'>
          <label class='control-label'>Date</label>
          <input name="date" id="date" [(ngModel)]="newEvent.date" placeholder="Date" class="form-control"  required>
        </div>
      </div>
      <div class='form-row'>
        <div class='col-xs-12 form-group card required'>
          <label class='control-label'>Location</label>
          <input name="location" id="location" [(ngModel)]="newEvent.location" placeholder="Location" class="form-control"  required>
        </div>
      </div>
      <div class='form-row'>
        <div class='col-xs-12 form-group card required'>
          <label class='control-label'>Priority</label>
          <select name="priority" id="priority" [(ngModel)]="newEvent.priority" placeholder="Priority" class="form-control"  required>
            <option value="Important">Important</option>
            <option value="Unimportant">Unimportant</option>
        </select>
        </div>
      </div>
      <div class='form-row'>
        <div class='col-md-12 form-group'>
          <button type="submit" class="btn btn-primary" (click)="create()">Save</button>
        </div>
        <div class="well">
          Go to
          <a [routerLink]="['/event']">Event List</a>
        </div>
        <div class="col-md-12 form-group">
          <div *ngIf="boolerr" class="alert alert-danger">{{message}}</div>
          <div *ngIf="boolsuc" class="alert alert-success">{{message}}</div>
        </div>

      </div>
    </form>
  </div>
  <div class='col-md-4'></div>
</div>
</div>
</div>