<div class="navbar navbar-inverse navbar-fixed-bottom" role="navigation">
  <!--Footer-->
  <footer class="footer">
    <div class="container">
      <!-- <footer class="footer"> -->
      <div class="navbar-footer">
        <div class="row" style="margin: 1px auto 0px auto">
          <div class="col-md-4">
            <h5 class="grey-text text-darken-4">Contacts MST05</h5>
            <a href="https://www.facebook.com/groups/1919838951608125/?ref=bookmarks" class="grey-text text-darken-4"><i class="fa fa-facebook-square fa-2x"></i></a>&nbsp;&nbsp;
            <a class="grey-text text-darken-4" href="quoctinhnguyen9896@gmail.com"><i class="fa fa-envelope fa-2x"></i></a>&nbsp;&nbsp;
            <a href="tel:0123456789" class="grey-text text-darken-4"><i class="fa fa-mobile fa-2x"></i></a>
            <p></p>
          </div>
          <div class=" col-md-4">
            <p></p>
          </div>
          <div class=" col-md-3">
            <li><span>Nguyen Quoc Tinh_14110422</span><br/></li>
            <li><span>Nguyen Tuan Kiet_14110348</span><br/></li>
            <li><span>Duong Ngoc Hao_14110385</span><br/></li>
          </div>
        </div>
      </div>
    </div>
  </footer>
</div>
