<app-navbar></app-navbar>

<div>
  <div class="text-center">
      <h1>
          <b class="fa fa-calendar">
              <b> ONLINE TIMETABLE </b>
          </b>
      </h1>
      <div class="list-group">
          <a class="list-group-item active">
              <h4>
                  <b>ADD EVENT</b>
              </h4>
              <p></p>
          </a>
      </div>
  </div>
<div class="container">
<div class='row'>
  <div class='col-md-4'></div>
  <div class='col-md-4'>
    <script src='https://js.stripe.com/v2/' type='text/javascript'></script>
    <form accept-charset="UTF-8" class="require-validation" id="payment-form">
      <div class='form-row'>
        <div class='col-xs-12 form-group card required'>
          <label class='control-label'>Event Name</label>
          <input type="text" name="eventname" id="eventname" [(ngModel)]="newEvent.title" placeholder="EventName" class="form-control" required>
        </div>
      </div>
      <div class='form-row'>
        <div class='col-xs-12 form-group card required'>
          <label class='control-label'>Description</label>
          <input name="description" id="description" [(ngModel)]="newEvent.description" placeholder="Description" class="form-control" required>
        </div>
      </div>
      <div class='form-row'>
        <div class='col-xs-12 form-group card required'>
          <label class='control-label'>Start Date</label>
          <app-date-time-picker name="start" [(ngModel)]="newEvent.start" placeholder="Not set">
          </app-date-time-picker>
        </div>
      </div>
      <div class='form-row'>
        <div class='col-xs-12 form-group card required'>
          <label class='control-label'>End Date</label>
          <app-date-time-picker name="end" [(ngModel)]="newEvent.end" placeholder="Not set">
          </app-date-time-picker>
        </div>
      </div>
      <div class='form-row'>
        <div class='col-xs-12 form-group card required'>
          <label class='control-label'>Location</label>
          <input name="location" id="location" [(ngModel)]="newEvent.location" placeholder="Location" class="form-control"  required>
        </div>
      </div>
      <div class='form-row'>
        <div class='col-xs-12 form-group card required'>
          <label class='control-label'>Primary Color</label>
          <input type="color" [(ngModel)]="newEvent.color.primary" name="color">
        </div>
      </div>
      <div class='form-row'>
        <div class='col-xs-12 form-group card required'>
          <label class='control-label'>Secondary Color</label>
          <input type="color" [(ngModel)]="newEvent.color.secondary" name="color">
        </div>
      </div>

      <div class='form-row'>

        <div class='col-md-12 form-group'>
            <div class="col-md-12 form-group">
                <div *ngIf="boolerr" class="alert alert-danger">{{message}}</div>
                <div *ngIf="boolsuc" class="alert alert-success">{{message}}</div>
              </div>
          <button type="submit" class="btn btn-primary" (click)="create()">Add</button>
        </div>
        <div class="well">
          Go to
          <a [routerLink]="['/listevent']"  class="w3-text-green" >Event List</a>
        </div>


      </div>
    </form>
  </div>
  <div class='col-md-4'></div>
</div>
</div>
</div>
