<div class="example-container">
  <div class="modal-header">
    <h5 class="modal-title">Event action occurred</h5>
    <button type="button" class="close" (click)="close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="example-container">
      <mat-form-field>
        <input matInput placeholder="Title" [(ngModel)]="event.title">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Description" [(ngModel)]="event.description">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Location" [(ngModel)]="event.location">
      </mat-form-field>
    </div>

    <mat-form-field>
      <input readonly matInput [matDatepicker]="picker1" placeholder="Start Date" [(ngModel)]="event.start">
      <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
      <mat-datepicker #picker1></mat-datepicker>
    </mat-form-field>
    <mat-form-field>
      <input readonly matInput [matDatepicker]="picker2" placeholder="End Dat" [(ngModel)]="event.end">
      <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
      <mat-datepicker #picker2></mat-datepicker>
    </mat-form-field>
    <mat-form-field>
      <input readonly matInput placeholder="Primary Color" [(ngModel)]="event.color.primary">
    </mat-form-field>
    <input type="color" [(ngModel)]="event.color.primary" name="color">
    <mat-form-field>
      <input readonly matInput placeholder="Secondary Color" [(ngModel)]="event.color.secondary">
    </mat-form-field>
    <input type="color" [(ngModel)]="event.color.secondary" name="color">
  </div>
  <div class="modal-footer">
    <button mat-raised-button color="primary" (click)="save()">Save</button>
  </div>
</div>
