<div class="row">
  <label class='control-label col-md-1'>Search</label>
  <input type="search" name="search" id="search" [(ngModel)]="text" (ngModelChange)="search($event)">
  <div class="panel-heading col-xs-8 col-md-11">
    <span class="lead">List of Events </span>
  </div>
</div>
<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">

    <div class="event" *ngIf="eventList">
      <table class="table">
        <thead class="h">
          <tr class="h">
            <th class="h">Name</th>
            <th class="h">Description</th>
            <th class="h">Date</th>
            <th class="h">Location</th>
            <th class="h">Priority</th>
          </tr>
        </thead>
        <tbody>

          <tr class="event" *ngFor="let event of eventList">
            <td>{{event.name}}</td>
            <td>{{event.description}}</td>
            <td>{{event.date}}</td>
            <td>{{event.location}}</td>
            <td>{{event.priority}}</td>
            <td>

              <button class="btn btn-danger" (click)="deleteEvent(event)">
                Delete
              </button>
              <ng-template #content let-c="close" let-d="dismiss">
                <div class="modal-header">
                  <h4 class="modal-title">Edit Event</h4>
                  <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <div class='form-row'>
                    <div class='col-xs-12 form-group card required'>
                      <label class='control-label'>Event Name</label>
                      <input type="text" name="eventname" id="eventname" [(ngModel)]="newEvent.name" placeholder="EventName" class="form-control"
                        required>
                    </div>
                  </div>
                  <div class='form-row'>
                    <div class='col-xs-12 form-group card required'>
                      <label class='control-label'>Description</label>
                      <input name="description" id="description" [(ngModel)]="newEvent.description" placeholder="Description" class="form-control"
                        required>
                    </div>
                  </div>
                  <div class='form-row'>
                    <div class='col-xs-12 form-group card required'>
                      <label class='control-label'>Date</label>
                      <input name="date" id="date" [(ngModel)]="newEvent.date" placeholder="Date" class="form-control" required>
                    </div>
                  </div>
                  <div class='form-row'>
                    <div class='col-xs-12 form-group card required'>
                      <label class='control-label'>Location</label>
                      <input name="location" id="location" [(ngModel)]="newEvent.location" placeholder="Location" class="form-control" required>
                    </div>
                  </div>
                  <div class='form-row'>
                    <div class='col-xs-12 form-group card required'>
                      <label class='control-label'>Priority</label>
                      <select name="priority" id="priority" [(ngModel)]="newEvent.priority" placeholder="Priority" class="form-control" required>
                        <option value="Important">Important</option>
                        <option value="Unimportant">Unimportant</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-outline-light" (click)="editEvent(newEvent)" (click)="c('Close click')">Save</button>
                </div>
              </ng-template>

              <button class="btn btn-lg btn-outline-primary" (click)="open(content, event)">Edit</button>

            </td>

          </tr>
        </tbody>
      </table>
      <div class="well">
        Do you want create new Event?? Go to
        <a [routerLink]="['/addevent']">Add Event</a>
      </div>
    </div>
  </div>
  <div class="col-md-2">

  </div>
</div>