<app-navbar></app-navbar>
<div class="text-center">
  <div class="text-right">
    <div class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search" [(ngModel)]="text" (ngModelChange)="search($event)">
      <button class="btn btn-outline-success my-2 my-sm-0" type="button">Search</button>
    </div>
  </div>
  <h1>
    <b class="fa fa-calendar">
      <b> ONLINE TIMETABLE </b>
    </b>
  </h1>
  <div class="list-group">
    <a class="list-group-item active">
      <h4>
        <b>LIST EVENT</b>
      </h4>
      <p></p>
    </a>

  </div>
</div>
<div class=" container">
  <div class="row">
    <div class="event" *ngIf="eventList">
      <div class="event" *ngFor="let event of eventList">
        <div class="col-sm-6 col-md-3">

          <div class="thumbnail">

            <div class="caption">
              <div>Event Name: {{event.title}}
              </div>
              <div>Description: {{event.description}}
              </div>
              <div>Start Date: {{event.start | date}}
              </div>
              <div>End Date: {{event.end | date}}
              </div>
              <div>Localtion: {{event.location}}
              </div>
              <div>Color 1: <input type="color" [(ngModel)]="event.color.primary" name="color" disabled>
              </div>
              <div>Color 2: <input type="color" [(ngModel)]="event.color.secondary" name="color" disabled>
              </div>

              <div>
                <div class="clearfix-center">
                  <button class="btn btn-danger" (click)="deleteEvent(event)">
                    Delete
                  </button>
                  <button type="button" class="btn btn-info" data-toggle="modal" data-target="#myModal" (click)="handleEvent('Clicked', event)">Edit</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <nav aria-label="Page navigation example">
    <button *ngIf="check()" mat-raised-button color="primary" (click)="prePage()"><< Trang trước</button>
    <button mat-raised-button color="primary" (click)="nextPage()">Trang kế >></button>
  </nav>
</div>
<app-footer></app-footer>
